main {
  min-height: 100vh;
  background-color: #f9fafb;
  margin-left: 256px;
  width: calc(100% - 256px);
  transition: all 0.3s;
}

main.sidebar-collapsed {
  margin-left: 72px;
  width: calc(100% - 72px);
}
